flask
Flask-Caching
Flask-Opentracing
jaeger-client
pymongo
pymongo[srv]
Werkzeug==0.16.0
python-memcached
time
numpy
locust
fastapi
pydantic
typing
pytest
datetime
bson
opentracing_instrumentation
requests